@page
@model CustomerPortal.Areas.Banks.Pages.IndexModel

@{
    ViewData["Title"] = "Banks";
    Layout = "_Layout";
}

<h1>Banks</h1>

<p>
    <a asp-area="Banks" asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Banks[0].RoutingNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks[0].AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Banks[0].Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Banks) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoutingNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
